# Gradle

.gradle
/local.properties
build/
/app/app.iml
/build/intermediates/gradle_project_sync_data.bin

# Idea

*.iml

!.idea/codeStyleSettings.xml
.idea/**/*

# Netbeans for WebSite

/ADMIN_WEB_SITE/NanterasmusWebApplication/nbproject/project.properties
/ADMIN_WEB_SITE/NanterasmusWebApplication/nbproject/private/

# Mac OS

.DS_Store
/captures
/ADMIN_WEB_SITE/NanterasmusWEB/nbproject/private/
/ADMIN_WEB_SITE/NanterasmusWEB/NanterasmusWEB-war/nbproject/private/
/ADMIN_WEB_SITE/NanterasmusWEB/NanterasmusWEB-ejb/nbproject/private/
/ADMIN_WEB_SITE/HelloWorld/nbproject/private/
/CustomerDB/nbproject/private/
/Calculator/CalculatorApp/nbproject/private/
/Calculator/CalculatorClientApp/nbproject/private/
/MessageBoard/nbproject/private/
/mavenproject1/NanterasmusWEB/target/
/NanterasmusWEB/target/
/ADMIN_WEB_SITE/NanterasmusWEB/target/
/NanterasmusWEB2/target/
/ADMIN_WEB_SITE/NanterasmusWEB2/target/
/ADMIN_WEB_SITE/NanterasmusWEB3/target/
/ADMIN_WEB_SITE/NanterasmusREST/target/