# Gradle

.gradle
/local.properties
build/
/app/app.iml
/app/build.gradle
/build/intermediates/gradle_project_sync_data.bin

# Idea

*.iml

!.idea/codeStyleSettings.xml
.idea/**/*

# Netbeans for WebSite

/ADMIN_WEB_SITE/NanterasmusWebApplication/nbproject/project.properties
/ADMIN_WEB_SITE/NanterasmusWebApplication/nbproject/private/

# Mac OS

.DS_Store
/captures
