# Gradle

.gradle
/local.properties
build/
/app/app.iml
/build/intermediates/gradle_project_sync_data.bin

# Idea

*.iml

!.idea/codeStyleSettings.xml
.idea/**/*


# Mac OS

.DS_Store
/captures


# Project ignore
/ADMIN_WEB_SITE/NanterasmusWEB/nbproject/private/
/ADMIN_WEB_SITE/NanterasmusWEB/NanterasmusWEB-war/nbproject/private/
/ADMIN_WEB_SITE/NanterasmusWEB/NanterasmusWEB-ejb/nbproject/private/
/ADMIN_WEB_SITE/HelloWorld/nbproject/private/
/ADMIN_WEB_SITE/NanterasmusWEB/target/
/ADMIN_WEB_SITE/NanterasmusREST/target/
/ADMIN_WEB_SITE/NanterasmusWebApplication/nbproject/project.properties
/ADMIN_WEB_SITE/NanterasmusWEB/src/main/resources/com/myapp/struts/dbRessource.properties