language: android
android:
  components:
    - platform-tools
    - build-tools-23.0.1
    - android-23
before_install:
 - chmod +x ./StudyAtNanterre/gradlew
script: gradle tasks
   #- gradlew ./StudyAtNanterre/gradlew build