<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.p10.miage.m1.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Nanteramus"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Accueil"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ToDoList"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HowTo"
            android:label="HowTo"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Culture"
            android:label="@string/title_activity_culture"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Map"
            android:label="@string/title_activity_map"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Contact"
            android:label="@string/title_activity_contact"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LearnFrench"
            android:label="@string/title_activity_learn_french"
            android:theme="@style/AppTheme" />
    </application>

</manifest>
